/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.heroes-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

a {
  background-color: #3f525c;
  border-radius: 6px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}
